.sm-main-page-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: #d3e8ec;
  padding: 40px;
}
.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book-image-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #d3e8ec;
}
.book-item-image {
  width: 50%;
  height: 150px;
  max-width: 200px;
  border-radius: 10px;
}
.book-item-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #334155;
}
.book-item-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #475569;
  margin-top: 0px;
  margin-bottom: 0px;
}
.book-item-rating-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-rating-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;

  color: #475569;
}
.rating-star-image {
  height: 15px;
  width: 15px;
  color: #fbbf24;
}
.book-item-rating {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #334155;
}
.book-item-status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-top: 0;
  margin-bottom: 0;
}
.book-item-status {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #475569;
  margin-top: 0;
  margin-bottom: 0;
}
.book-item-status-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #0284c7;

  margin-left: 10px;
}
.hr-rule {
  width: 100%;
  margin-top: 30px;
  border: 0.1px solid #94a3b8;
}
.book-item-content-details {
  display: flex;
  flex-direction: column;
}
.book-author-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #334155;
}
.book-author-details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #475569;
  margin-top: 0px;
  margin-bottom: 12px;
  text-align: start;
}
.about-book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #334155;
}
.about-book-details {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;

  color: #475569;
  margin-top: 0px;
  margin-bottom: 12px;
  text-align: start;
}
.failure-view {
  height: 150px;
  width: 300px;
}
@media screen and (min-width: 324px) and (max-width: 767px) {
  .book-wrong-container {
    background-color: transparent;
  }
  .book-item-image {
    width: 60%;
    height: 150px;
  }
  .book-image-details-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .book-item-title {
    font-size: 18px;
  }
  .book-item-author {
    font-size: 16px;
    color: #475569;
  }
  .book-item-rating-container {
    width: 56%;
    max-width: 130px;
  }
  .book-rating-title {
    font-size: 16px;
  }
  .rating-star-image {
    height: 13px;
    width: 13px;
  }
  .book-item-rating {
    font-size: 16px;
  }
  .book-item-status-container {
    width: 70%;
  }
  .book-item-status {
    font-size: 16px;
  }
  .book-item-status-text {
    font-size: 16px;
  }
  .book-author-title {
    font-size: 16px;
  }
  .book-author-details {
    font-size: 14px;
  }
  .about-book-title {
    font-size: 16px;
  }
  .about-book-details {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .sm-main-page-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
  }
  .book-details-section {
    background: #ffffff;

    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08),
      0px 1px 2px rgba(96, 97, 112, 0.16);
    border-radius: 16px;
    padding: 30px;
  }
  .top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .book-image-details-container {
    display: flex;
    align-items: flex-start;
    margin-left: 35px;
  }
  .book-item-image {
    height: 250px;
    width: 200px;
  }
  .book-item-title {
    font-size: 30px;
  }
  .book-item-author {
    font-size: 23px;
  }
  .book-item-rating-container {
    width: 90%;
    max-width: 170px;
  }
  .book-rating-title {
    font-size: 21px;
  }
  .rating-star-image {
    height: 19px;
    width: 19px;
  }
  .book-item-rating {
    font-size: 23px;
  }
  .hr-rule {
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .book-author-title {
    font-size: 25px;
  }
  .book-item-rating {
    font-size: 21px;
  }
  .book-author-details {
    font-size: 20px;
    line-height: 30px;
  }
  .about-book-title {
    font-size: 25px;
  }
  .about-book-details {
    font-size: 20px;
    line-height: 30px;
  }
  .book-item-status {
    font-size: 21px;
  }
  .book-item-status-text {
    font-size: 21px;
  }
}
.book-wrong-container {
  display: flex;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.failure-view {
  height: 60px;
  width: 110px;
}
.book-wrong-message {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #475569;
  text-align: center;
}
.book-try-again-button {
  width: 60px;
  height: 20px;

  background: #0284c7;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;

  color: #ffffff;
}
@media screen and (min-width: 354px) and (max-width: 767px) {
  .book-wrong-container {
    height: 70vh;
  }
  .failure-view {
    height: 130px;
    width: 200px;
  }
  .book-wrong-message {
    font-size: 18px;
  }
  .book-try-again-button {
    width: 90px;
    height: 35px;
    border-radius: 10px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .book-wrong-container {
    height: 90vh;
    width: 100%;
    background-color: #fff;
  }
  .failure-view {
    height: 230px;
    width: 460px;
  }
  .book-wrong-message {
    font-size: 26px;
  }
  .book-try-again-button {
    width: 112px;
    height: 48px;

    border-radius: 12px;
    font-size: 18px;
  }
}
