.lg-shelf-main-section {
  display: none;
}
.lg-search-bar-container {
  display: none;
}
.read-books-title {
  display: none;
}
.lg-book-wrong-container {
  display: none;
}
.shelf-main-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: #d3e8ec;
  padding: 40px 20px;
}
.failure-shelf-main-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: #d3e8ec;
  padding: 40px 20px;
}
.sm-search-bar-container {
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  margin-bottom: 10px;
  max-width: 250px;
}
.sm-search-bar {
  width: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #94a3b8;

  padding: 5px 10px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.search-button {
  height: 29px;
  width: 39px;
  background: #edeff1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  margin: 0px;
}
.sm-search-icon {
  height: 20px;
  width: 20px;
  color: #94a3b8;
}
.bookshelves-books-container {
  display: flex;
  flex-direction: column;
}
.shelf-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #334155;
}
.bookshelves-tabs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #d3e8ec;
}
.bookshelf-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #0284c7;
  height: 30px;
  padding: 5px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.active-bookshelf-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 5px;
  padding: 5px 13px;
  margin-bottom: 10px;
  background: #0284c7;
}
.books-result-container {
  padding-left: 0;
}
.books-items-container {
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .failure-book-shelves-container {
    display: none;
  }
  .failure-shelf-main-section {
    display: none;
  }
  .lg-book-wrong-container {
    display: block;
    height: 90vh;
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .shelf-main-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 70px;
  }
  .sm-search-bar-container {
    display: none;
  }
  .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    width: 90%;
  }
  .lg-search-bar-container {
    display: block;
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: 1px solid #cbd5e1;
    margin-bottom: 10px;
    max-width: 250px;
  }
  .result-container {
    width: 77%;
    display: flex;
    flex-direction: column;
  }
  .book-shelves-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 50px;
    align-self: stretch;
  }
  .bookshelves-tabs-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding-left: 0px;
  }
  .shelf-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #334155;
  }
  .bookshelves-tabs-container {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
  }
  .bookshelf-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #475569;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .active-bookshelf-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #0284c7;
    margin-bottom: 30px;
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .books-result-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    padding-left: 40px;
    min-height: 40vh;
  }
  .read-books-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .read-books-title {
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #334155;
  }
  .sm-search-bar {
    padding: 10px 16px;
    font-size: 16px;
  }
  .search-button {
    height: 40px;
    width: 50px;
  }
}
