.lg-shelf-main-section {
  display: none;
}
.sm-main-section {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  background: #d3e8ec;
  padding: 40px 20px;
}
.search-bar-container {
  border-radius: 3px;
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  margin-bottom: 10px;
  max-width: 350px;
}
.sm-search-bar {
  width: 70%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #94a3b8;

  padding: 8px 12px;
  outline: none;
  border: none;
  flex-grow: 1;
}
.search-button {
  height: 34px;
  width: 44px;
  background: #edeff1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #cbd5e1;
  margin: 0px;
}
.sm-search-icon {
  height: 20px;
  width: 20px;
  color: #94a3b8;
}
.shelf-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  color: #334155;
}
.bookshelves-tabs-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background: #d3e8ec;
}
.bookshelf-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #0284c7;
  height: 30px;
  padding: 5px 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 5px;
  margin-bottom: 10px;
  outline: none;
  cursor: pointer;
}
.active-bookshelf-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  color: #fff;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  background-color: transparent;
  border: 1px solid #0284c7;
  border-radius: 5px;
  padding: 5px 13px;
  margin-bottom: 10px;
  background: #0284c7;
}
.books-items-container {
  padding-left: 0px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .sm-main-section {
    display: none;
  }
  .lg-shelf-main-section {
    min-height: 90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 0px;
    background: #d3e8ec;
  }
  .bookshelves-container {
    width: 22%;
    display: flex;
    flex-direction: column;
    align-self: stretch;

    background-color: #fff;
    padding: 50px;
  }
  .bookshelf-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #334155;
  }
  .lg-tabs-container {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    list-style-type: none;
  }
  .lg-tab-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: #475569;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .active-lg-tab-item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #0284c7;
    margin-bottom: 30px;
    cursor: pointer;
  }
  .lg-books-result-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    padding-left: 40px;
  }
  .read-books-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .read-books-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #334155;
  }
  .lg-search-bar-container {
    border-radius: 3px;
    display: flex;
    align-items: center;
    border: 1px solid #cbd5e1;
    width: 280px;
  }

  .lg-input-bar {
    width: 50%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #94a3b8;

    padding: 10px 20px;
    outline: none;
    border: none;
    flex-grow: 1;
  }
  .lg-search-icon-button {
    height: 44px;
    width: 54px;
    background: #edeff1;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #cbd5e1;
    margin: 0px;
  }
  .lg-search-icon {
    height: 25px;
    width: 25px;
    color: #94a3b8;
  }
  .lg-books-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 0px;
    padding-right: 50px;
    list-style: none;
    min-height: 400px;
  }
}
