.lg-nav {
  display: none;
}
.nav-items-container {
  display: none;
}
.sm-nav {
  background-color: #fff;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav-list-container {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px;
  padding-top: 15px;
  padding-left: 10px;
  background-color: #d3e8ec;
  box-sizing: border-box;
}

.nav-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #64748b;
  text-decoration: none;
}
.active-tab-link-item {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #0284c7;
  text-decoration: none;
}
.sm-logout-button {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #f8fafc;
  padding: 5px 16px;
  background: #0284c7;
  border-radius: 4px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}
.close-icon {
  height: 25px;
  width: 25px;
  color: #334155;
  margin-left: 0px;
}
@media screen and (min-width: 354px) and (max-width: 768px) {
  .sm-nav {
    padding: 15px;
  }
  .sm-logout-button {
    padding: 10px 20px;
  }
  .close-icon {
    height: 30px;
    width: 30px;
  }
}
.bookhub-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.bookhub-logo {
  height: 20px;
  width: 20px;
}
.logo-text {
  color: #0284c7;
  font-family: 'Almendra SC';
  font-size: 16px;
  font-weight: 400;
  padding-top: 5px;
}

.menu-icon {
  height: 15px;
  width: 15px;
  color: #475569;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 354px) and (max-width: 768px) {
  .bookhub-logo {
    height: 33px;
    width: 33px;
  }
  .logo-text {
    font-size: 23px;
    padding-top: 10px;
  }
  .menu-icon {
    height: 25px;
    width: 25px;
  }
  .nav-item {
    font-size: 23px;
  }
}

@media screen and (min-width: 769px) {
  .sm-nav {
    padding: 10px 70px;
  }
  .menu-icon {
    display: none;
  }
  .lg-nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  }
  .bookhub-logo {
    height: 40px;
    width: 50px;
  }
  .logo-text {
    font-size: 27px;
    padding-top: 15px;
  }
  .nav-items-container {
    width: 360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0px;
    list-style-type: none;
  }
  .nav-item {
    font-size: 23px;
    text-decoration: none;
  }
  .active-tab-link-item {
    font-size: 23px;
    text-decoration: none;
  }
  .logout-button {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #f8fafc;
    padding: 10px 30px;
    background: #0284c7;
    border-radius: 4px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
}

@media screen and (min-width: 354x) and (max-width: 768px) {
  .sm-nav-item {
    font-size: 18px;
  }
  .sm-logout-button {
    padding: 8px 16px;
    font-size: 15px;
  }
  .close-icon {
    height: 28px;
    width: 28px;
  }
}
@media screen and (min-width: 769px) {
  .nav-list-container {
    display: none;
  }
}
