.book-item {
  text-decoration: none;
}

.slick-prev:before,
.slick-next:before {
  color: #000;
  font-size: 20px;
}

.book-title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  text-align: center;
  color: #334155;
}
.book-author {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  color: #475569;
}
.logo-image {
  height: 100px;
  width: 90%;
  margin: 0px 10px;
}
@media screen and (min-width: 354px) and (max-width: 768px) {
  .slick-prev:before,
  .slick-next:before {
    color: #000;
    font-size: 24px;
  }
  .book-title {
    font-size: 15px;
  }
  .book-author {
    font-size: 15px;
  }
  .logo-image {
    height: 150px;
    width: 90%;
    margin: 0px 10px;
  }
}

@media screen and (min-width: 769px) {
  .slick-prev:before,
  .slick-next:before {
    color: #000;
    font-size: 30px;
  }
  .logo-image {
    height: 250px;
    width: 90%;
    margin: 0px 10px;
  }
  .book-title {
    font-size: 25px;
  }
  .book-author {
    font-size: 23px;
  }
}
